<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Account Management Center</title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>

    <body class="blue-theme">
        <h2>Error Occured!</h2>
        <div class="error_message">
            {{ pesan }}
        </div>
        <div class="container">
            <a href="/" class="home-button">Back Home</a>
        </div>
    </body>
</html>