<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Management Center</title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body class="blue-theme">
        <h2>Welcone to Management Center!</h2>
        <br><br>
        <div class="container">
            <button type="button" class="btn btn-success menu-new" onclick="location.href='/accounts';">Accounts</button>
        </div>
        <br><br>
        <div class="container">
            <button type="button" class="btn btn-info menu-new" onclick="location.href='/transactions';">Transactions</button>
        </div>
    </body>
</html>